.sideBar {
  display: flex;
  height: 100vh;
}
.sideBar-nav {
  width: 80px;
  overflow-y: auto;
  background: rgb(112, 68, 68);
}

.sideBar-detail {
  width: 300px;
  background: rgb(242, 242, 242);
  padding: 20px;
}

.sideBar-preview {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideBar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sideBar-nav li {
  max-width: 100px;
  text-align: center;
  cursor: pointer;
  padding: 20px 10px;
  height: auto;
  color: white;
}

.bi {
  font-size: 24px;
  font-weight: bold;
}
